@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;  
}

body {
    margin: 0;
    background: #1B244A;

}

.container {
    display: flex;
    justify-content: space-around;
    padding: 0.25em;
}

.container-uno, .container-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    padding: 0.25em;
}

.points {
    list-style: none;
    display: flex;
    font-size: 1rem;
    padding: 1em;
    gap: 0.5em;
}

/* TYPOGRAPHY */

h3 {
    font-family: 'Poppins', sans-serif;
    color: #eee;
    margin: 0.10em 0 0 0;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 3px;
}

p {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.marcador {
    font-size: 4rem;
    background-color: #080001;
    color: #F94F6D;
    margin: 0.10em 0 0 0;
    width: 125px;
    text-align: center;
    padding: 0.1em;
    border-radius: 5px;
}

/* STYLES */

.btn {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    text-align: center;
    color: #9AABD8;
    background: none;
    letter-spacing: 2px;
}

.btn-add {
    padding: 0.35em;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.btn-reset {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: block;
    margin: auto;
    padding: 0.40em 1em;
}

.btn-add:hover,
.btn-reset:hover {
    background: #3C487B;
}

.btn-add:active,
.btn-reset:active {
    background: #1B244A;
}

.btn-add:focus,
.btn-reset:focus {
    outline: none;
}

@media (max-width: 576px) {
    .container-uno, .container-dos {
        width: 250px;
    }
}

@media (min-width: 576px) {
    .container {
        justify-content: center;
        margin: 4em;
    }
    
    .container-uno, .container-dos {
        margin: 0 2em;
        min-width: 250px;
        width: 370px;
    }
    
    .points {
        gap: 1.5em;
    }
    
    .btn-add {
        padding: 0.80em;
    }
    
    .btn-reset {
        padding: 0.75em 1.5em;
    }
       
    /* TYPOGRAPHY */
    
    h3 {
        font-size: 3.5rem;
    }
    
    p {
        font-size: 2rem;
    }
    
    .marcador {
        font-size: 6rem;
        width: 200px;
    }
}
